Repository kphrx/nico-zenza: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: change license to MIT License
  LICENSE
  license.txt
Due: none

chore: always normalize meta.js value with package.json
  packages/build-util/src/index.ts
  packages/build-util/src/utils/packageMetadata.ts
  packages/build-util/src/utils/scriptMetadata.ts
  packages/build-util/tsconfig.json
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: normalize exports path name
  packages/build-util/src/index.ts
  packages/script/zenza-watch/rollup.config.ts
  packages/script/zenza-watch/src/components/hover-menu/button.ts
  packages/script/zenza-watch/src/components/hover-menu/left.ts
  packages/script/zenza-watch/src/components/hover-menu/right.ts
  packages/script/zenza-watch/src/components/player/controls/index.ts
  packages/script/zenza-watch/src/components/player/dialog.ts
  packages/script/zenza-watch/src/components/player/header.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/index.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/list.ts
  packages/script/zenza-watch/src/components/player/info-panel/index.ts
  packages/script/zenza-watch/src/components/player/info-panel/switcher.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/card.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/index.ts
  packages/script/zenza-watch/src/components/player/message.ts
  packages/script/zenza-watch/src/components/player/video.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: auto specify version for cjs and es modules
  packages/build-util/src/index.ts
  packages/script/zenza-watch/rollup.config.ts
  packages/script/zenza-watch/src/meta.js
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: remove dead code
  packages/build-util/src/index.ts
  packages/script/advanced-settings/rollup.config.ts
  packages/script/advanced-settings/src/meta.js
  packages/script/blog-parts-button/rollup.config.ts
  packages/script/blog-parts-button/src/meta.js
  packages/script/cap-tube/rollup.config.ts
  packages/script/cap-tube/src/meta.js
  packages/script/game-pad/rollup.config.ts
  packages/script/game-pad/src/meta.js
  packages/script/heat-sync/rollup.config.ts
  packages/script/heat-sync/src/meta.js
  packages/script/masked-watch/rollup.config.ts
  packages/script/masked-watch/src/meta.js
  packages/script/mylist-filter/rollup.config.ts
  packages/script/mylist-filter/src/meta.js
  packages/script/mylist-pocket/rollup.config.ts
  packages/script/mylist-pocket/src/meta.js
  packages/script/uquery/rollup.config.ts
  packages/script/uquery/src/meta.js
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: disable `EXPERIMENTAL_useProjectService`
  eslint.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: use ts eslint strict instead of recommended
  eslint.config.js
Due: eslint --fix, prettier --write --ignore-unknown

style: disable no-empty-function for optional implements
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: use `Number#toString` for template literal
  packages/build-util/src/index.ts
  packages/script/zenza-watch/src/components/hover-menu/left.ts
  packages/script/zenza-watch/src/components/hover-menu/right.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/index.ts
  packages/script/zenza-watch/src/components/player/video.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: fix nullish value of duration formatter
  packages/script/zenza-watch/src/utils.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: remove unnecessary conditions
  packages/lib/api-wrapper/src/www/watch/v3.ts
  packages/script/zenza-watch/src/components/player/header.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: remove unnecessary `return` statement
  packages/script/zenza-watch/src/components/player/info-panel/comments/list.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: remove non-null assertion and redundant union type
  packages/build-util/src/utils/packageMetadata.ts
  packages/build-util/src/utils/scriptMetadata.ts
  packages/script/zenza-watch/src/components/player/message.ts
  packages/script/zenza-watch/src/event.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: remove unnecessary `throw` statements
  packages/lib/api-wrapper/src/nv-comment/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

ci: split lint/test and deploy pages
  .github/workflows/ci.yml
  .github/workflows/pages.yml
Due: none

ci: #49 already fixed in v20.13.0/v22.1.0 (LTS/Current latest)
  .github/workflows/ci.yml
  .github/workflows/pages.yml
Due: none

chore: generate meta.js
  build.js
  packages/build-util/src/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: add `@downloadURL` and `@updateURL` from env var
  packages/build-util/src/index.ts
  packages/build-util/src/utils/scriptMetadata.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

ci: pass pages base url to build script
  .github/workflows/pages.yml
Due: none

feat: strip debug and perfomance log in prod build
  package-lock.json
  package.json
  packages/build-util/src/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: add stylisticTypeChecked
  build.js
  eslint.config.js
  packages/build-util/src/index.ts
  packages/build-util/src/utils/packageMetadata.ts
  packages/build-util/src/utils/scriptMetadata.ts
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/script/zenza-watch/src/components/player/controls/index.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/message.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
  packages/script/zenza-watch/src/utils.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: re-enable and rename `EXPERIMENTAL_useProjectService` to `projectService`
  eslint.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: init cross-domain-gate package
  package-lock.json
  package.json
  packages/lib/cross-domain-gate/package.json
  packages/lib/cross-domain-gate/tsconfig.json
  tsconfig.json
  tsconfig.lib.json
  tsconfig.shared.json
Due: none

test: fix actual and expected values was swapped
  packages/lib/api-wrapper/src/nv-comment/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: use `devEngines` in npm v10.9.0+ instead of `engines` for build script
  package-lock.json
  package.json
Due: none

test: add missing mergeHeaders unit test
  packages/lib/api-wrapper/src/utils.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: needs v22.0+ for test runner use glob
  package.json
  packages/lib/api-wrapper/package.json
Due: none

ci: node version from engines property of package.json
  .github/workflows/ci.yml
Due: none

feat: implement cross-domain gate
  packages/lib/cross-domain-gate/package.json
  packages/lib/cross-domain-gate/src/cross-domain-gate.ts
  packages/lib/cross-domain-gate/src/cross-domain-loader.ts
  packages/lib/cross-domain-gate/src/index.ts
  packages/lib/cross-domain-gate/src/message-types.ts
  packages/lib/cross-domain-gate/src/session.spec.ts
  packages/lib/cross-domain-gate/src/session.ts
  packages/lib/cross-domain-gate/src/utils.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat: injectable custom fetch function
  packages/lib/api-wrapper/src/nv-comment/index.spec.ts
  packages/lib/api-wrapper/src/nv-comment/index.ts
  packages/lib/api-wrapper/src/nv-comment/v1/index.ts
  packages/lib/api-wrapper/src/nv-comment/v1/threads/index.ts
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/index.ts
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/channel-uploaded.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/mylist.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/series.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/user-uploaded.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/watch-later.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/hls.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/index.ts
  packages/lib/api-wrapper/src/types/api.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
  packages/lib/api-wrapper/src/www/index.ts
  packages/lib/api-wrapper/src/www/watch/index.ts
  packages/lib/api-wrapper/src/www/watch/v3.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: fix violated `@typescript-eslint/consistent-indexed-object-style`
  packages/script/zenza-watch/src/components/player/info-panel/comments/list.ts
  packages/script/zenza-watch/src/utils.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: fix `@typescript-eslint/no-inferrable-types` error
  packages/script/zenza-watch/src/components/player/controls/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: fix `@typescript-eslint/consistent-generic-constructors` error
  packages/script/zenza-watch/src/components/player/message.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat: load watch data via cross domain gate
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
  packages/script/zenza-watch/src/index.ts
  packages/script/zenza-watch/src/loader.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: rename cross domain loader to cross domain gate worker
  packages/lib/cross-domain-gate/src/cross-domain-gate-worker.ts
  packages/lib/cross-domain-gate/src/index.ts
  packages/script/zenza-watch/src/frame.ts
  packages/script/zenza-watch/src/index.ts
  packages/script/zenza-watch/src/loader.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat: hls.js cross domain loader
  package-lock.json
  packages/lib/cross-domain-gate/package.json
  packages/lib/cross-domain-gate/src/cross-domain-loader.ts
  packages/lib/cross-domain-gate/src/index.ts
  packages/script/zenza-watch/src/components/player/video.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

Path conditions:
  sh -c 'npm run compile && npm run compile -- --clean': any of: *.ts
  eslint --fix: any of: *.{ts,js}
  prettier --write --ignore-unknown: any of: *.{ts,js}
