Repository kphrx/nico-zenza: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat(api-wrapper): add playlist/watch-later nvapi
  package-lock.json
  package.json
  packages/lib/api-wrapper/package.json
  packages/lib/api-wrapper/src/index.ts
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/index.ts
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/watch-later.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix(api-wrapper): merge `RequestInit['headers']`
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/watch-later.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat(api-wrapper): add access-rights/hls nvapi
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/v1/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/hls.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/index.ts
  packages/lib/api-wrapper/src/types.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor(zenza-watch): use api-wrapper library for nvapi
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
  packages/script/zenza-watch/src/nvapi-response.ts
  tsconfig.json
  tsconfig.shared.json
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: keep Object Rest/Spread Properties, supported in ES9
  tsconfig.shared.json
Due: none

ci: pre build local library for lint
  .github/workflows/ci.yml
  build.js
  package.json
  packages/build-util/package.json
  packages/lib/api-wrapper/package.json
  packages/script/advanced-settings/package.json
  packages/script/blog-parts-button/package.json
  packages/script/cap-tube/package.json
  packages/script/game-pad/package.json
  packages/script/heat-sync/package.json
  packages/script/masked-watch/package.json
  packages/script/mylist-filter/package.json
  packages/script/mylist-pocket/package.json
  packages/script/uquery/package.json
  packages/script/zenza-watch/package.json
Due: eslint --fix, prettier --write --ignore-unknown

refactor(api-wrapper): add function for merging two HeadersInit
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/watch-later.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/hls.ts
  packages/lib/api-wrapper/src/utils.ts
  tsconfig.shared.json
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat(api-wrapper): add watch api endpoint
  packages/lib/api-wrapper/src/index.ts
  packages/lib/api-wrapper/src/nvapi/index.ts
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/index.ts
  packages/lib/api-wrapper/src/types.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
  packages/lib/api-wrapper/src/www/index.ts
  packages/lib/api-wrapper/src/www/watch/index.ts
  packages/lib/api-wrapper/src/www/watch/v3.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: strict type for video id or thread id
  packages/lib/api-wrapper/src/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/index.ts
  packages/lib/api-wrapper/src/www/watch/index.ts
  packages/lib/api-wrapper/src/www/watch/v3.ts
  packages/script/zenza-watch/src/components/hover-menu/button.ts
  packages/script/zenza-watch/src/components/hover-menu/left.ts
  packages/script/zenza-watch/src/components/hover-menu/mouse-controller.ts
  packages/script/zenza-watch/src/components/hover-menu/right.ts
  packages/script/zenza-watch/src/components/player/dialog.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/list.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/card.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/index.ts
  packages/script/zenza-watch/src/components/player/open-controller.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
  packages/script/zenza-watch/src/event.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor(zenza-watch): replace watch data fetch to api wrapper
  packages/lib/api-wrapper/src/index.ts
  packages/lib/api-wrapper/src/www/watch/v3.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: move watch v3 data response interface to api wrapper library
  packages/lib/api-wrapper/src/nvapi/index.ts
  packages/lib/api-wrapper/src/nvapi/types.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/types.ts
  packages/lib/api-wrapper/src/types.ts
  packages/lib/api-wrapper/src/types/api.ts
  packages/lib/api-wrapper/src/types/index.ts
  packages/lib/api-wrapper/src/types/video-info.ts
  packages/lib/api-wrapper/src/types/watch-data.ts
  packages/lib/api-wrapper/src/utils.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/index.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
  packages/script/zenza-watch/src/contexts/watch-data-context.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix(zenza-watch): hover menu hide when [data-video-id] not set
  packages/script/zenza-watch/src/components/hover-menu/base.css
Due: none

test(api-wrapper): mock globalThis.fetch for assertion request url
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat(api-wrapper): add nv-comment threads api
  packages/lib/api-wrapper/src/index.ts
  packages/lib/api-wrapper/src/nv-comment/index.spec.ts
  packages/lib/api-wrapper/src/nv-comment/index.ts
  packages/lib/api-wrapper/src/nv-comment/v1/index.ts
  packages/lib/api-wrapper/src/nv-comment/v1/threads/index.ts
  packages/lib/api-wrapper/src/nv-comment/v1/threads/types.ts
  packages/lib/api-wrapper/src/types/index.ts
  packages/lib/api-wrapper/src/types/nv-comment-threads.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor(zenza-watch): replace comment threads fetch to api wrapper
  packages/script/zenza-watch/src/comment-list.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: remove duplicated interface and import from library
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/hls.ts
  packages/lib/api-wrapper/src/nvapi/v1/watch/access-rights/types.ts
  packages/lib/api-wrapper/src/types/access-rights.ts
  packages/lib/api-wrapper/src/types/index.ts
  packages/script/zenza-watch/src/components/player/info-panel/comments/nv-comment-controller.ts
  packages/script/zenza-watch/src/components/player/session-controller.ts
  packages/script/zenza-watch/src/components/player/watch-data-controller.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat(api-wrapper): add playlist/{mylist,series,{user,channel}-uploaded} nvapi
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/channel-uploaded.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/index.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/mylist.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/series.ts
  packages/lib/api-wrapper/src/nvapi/v1/playlist/user-uploaded.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

test: api wrapper no use `Request` object, throw fail
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
  packages/lib/api-wrapper/src/www/index.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: need `nvComment.server` parameter to NvComment client
  packages/lib/api-wrapper/src/nv-comment/index.spec.ts
  packages/lib/api-wrapper/src/nv-comment/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

test: check addtional headers and body
  packages/lib/api-wrapper/src/nvapi/index.spec.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: add detail value parameter instead of `Omit & Required<Pick>`
  packages/script/zenza-watch/src/components/player/controls/index.ts
  packages/script/zenza-watch/src/components/player/info-panel/video-info/index.ts
  packages/script/zenza-watch/src/components/player/video.ts
  packages/script/zenza-watch/src/event.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

style: use return type instead of type assertion
  packages/script/zenza-watch/src/components/player/info-panel/comments/list.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: migrate eslint config format from eslintrc to flat config
  .eslintrc.json
  .lintstagedrc.js
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --ignore-unknown

chore: migrate eslint config format from eslintrc to flat config (#41)
  .eslintrc.json
  .lintstagedrc.js
  eslint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write --ignore-unknown

chore: follow husky changes from v6 to v9
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: none

fix: enable `allowDeclareFields` for `@babel/preset-typescript`
  packages/build-util/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: follow husky changes from v6 to v9 (#43)
  .husky/.gitignore
  .husky/pre-commit
  package.json
Due: none

fix: enable `allowDeclareFields` for `@babel/preset-typescript` (#45)
  packages/build-util/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: add `@babel/core` explicitly to devDependencies
  package-lock.json
  package.json
Due: none

chore: change decorators version to `2023-11`
  packages/build-util/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

ci: `globalThis.fetch` mock is broken, don't use v20.12.0+
  .github/workflows/ci.yml
Due: none

ci: `globalThis.fetch` mock is broken, don't use v20.12.0+ (#49)
  .github/workflows/ci.yml
Due: none

fix: change to need global variables for every external modules
  packages/build-util/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: import `@lit/context`
  packages/script/zenza-watch/rollup.config.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: use constructor instead class field define for provide decorator
  packages/script/zenza-watch/src/components/player/dialog.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: use constructor instead class field define for provide decorator (#55)
  packages/script/zenza-watch/src/components/player/dialog.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: use keywords for build script filter instead of package name
  build.js
  package-lock.json
  packages/build-util/package.json
  packages/lib/api-wrapper/package.json
  packages/script/advanced-settings/package.json
  packages/script/advanced-settings/rollup.config.ts
  packages/script/blog-parts-button/package.json
  packages/script/blog-parts-button/rollup.config.ts
  packages/script/cap-tube/package.json
  packages/script/cap-tube/rollup.config.ts
  packages/script/game-pad/package.json
  packages/script/game-pad/rollup.config.ts
  packages/script/heat-sync/package.json
  packages/script/heat-sync/rollup.config.ts
  packages/script/masked-watch/package.json
  packages/script/masked-watch/rollup.config.ts
  packages/script/mylist-filter/package.json
  packages/script/mylist-filter/rollup.config.ts
  packages/script/mylist-pocket/package.json
  packages/script/mylist-pocket/rollup.config.ts
  packages/script/uquery/package.json
  packages/script/uquery/rollup.config.ts
  packages/script/zenza-watch/package.json
  packages/script/zenza-watch/rollup.config.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: update ignore for eslint
  eslint.config.js
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  sh -c 'npm run compile && npm run compile -- --clean': any of: *.ts
  eslint --fix: any of: *.{ts,js}
  prettier --write --ignore-unknown: any of: *.{ts,js}
