Repository kphrx/nico-zenza: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "*.ts": "sh -c 'npm run compile && npm run compile -- --clean'",
  "*.{ts,js}": ["eslint --fix", "prettier --write --ignore-unknown"],
  "!*.{ts,js}": "prettier --write --ignore-unknown"
}

ci: auto merge compatible bump by dependabot
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: configure dependabot
  .github/dependabot.yml
Due: none

ci: validate dependabot.yml
  .github/workflows/dependabot-validate.yml
Due: none

ci: squash merge for dependabot
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: add @babel/exlint-parser for node v20 import json module
  .eslintrc.json
  package-lock.json
  package.json
Due: none

fix: set type module and import attribute for json
  packages/advanced-settings/package.json
  packages/advanced-settings/rollup.config.js
  packages/blog-parts-button/package.json
  packages/blog-parts-button/rollup.config.js
  packages/cap-tube/package.json
  packages/cap-tube/rollup.config.js
  packages/game-pad/package.json
  packages/game-pad/rollup.config.js
  packages/heat-sync/package.json
  packages/heat-sync/rollup.config.js
  packages/hls-support/package.json
  packages/hls-support/rollup.config.js
  packages/masked-watch/package.json
  packages/masked-watch/rollup.config.js
  packages/mylist-filter/package.json
  packages/mylist-filter/rollup.config.js
  packages/mylist-pocket/package.json
  packages/mylist-pocket/rollup.config.js
  packages/uquery/package.json
  packages/uquery/rollup.config.js
  packages/zenza-watch/package.json
  packages/zenza-watch/rollup.config.js
Due: eslint --fix, prettier --write --ignore-unknown

ci: use github app token for pull request write
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependabot-validate.yml
Due: none

ci: dependabot validate comment by github-actions instead of apps
  .github/workflows/dependabot-validate.yml
Due: none

ci: upload dist userscript to pages
  .github/workflows/ci.yml
Due: none

ci: use output of `npm run build:*` to copy dist
  .github/workflows/ci.yml
Due: none

chore: change scope for userscripts
  package-lock.json
  packages/advanced-settings/package.json
  packages/blog-parts-button/package.json
  packages/cap-tube/package.json
  packages/game-pad/package.json
  packages/heat-sync/package.json
  packages/hls-support/package.json
  packages/masked-watch/package.json
  packages/mylist-filter/package.json
  packages/mylist-pocket/package.json
  packages/uquery/package.json
  packages/zenza-watch/package.json
Due: none

chore: userscript build asynchronous
  .eslintrc.json
  build.js
  package.json
Due: eslint --fix, prettier --write --ignore-unknown

ci: flattened userscripts path
  .github/workflows/ci.yml
Due: none

chore: fix dev version identifier
  .eslintrc.json
  .lintstagedrc.js
  build.js
  package-lock.json
  package.json
  packages/advanced-settings/rollup.config.js
  packages/blog-parts-button/rollup.config.js
  packages/build-util/index.js
  packages/build-util/package.json
  packages/cap-tube/rollup.config.js
  packages/game-pad/rollup.config.js
  packages/heat-sync/rollup.config.js
  packages/hls-support/rollup.config.js
  packages/masked-watch/rollup.config.js
  packages/mylist-filter/rollup.config.js
  packages/mylist-pocket/rollup.config.js
  packages/uquery/rollup.config.js
  packages/zenza-watch/rollup.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove test from build-util
  packages/build-util/package.json
Due: none

chore: create metadata file on build script
  .github/workflows/ci.yml
  build.js
  packages/build-util/index.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix prettier on lint-staged
  .lintstagedrc.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: fix prettier on lint-staged (#14)
  .lintstagedrc.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: replace userscript and typescript plugin
  package-lock.json
  package.json
  packages/build-util/index.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove top-level await for iife
  package-lock.json
  package.json
  packages/advanced-settings/src/index.ts
  packages/advanced-settings/src/main.ts
  packages/blog-parts-button/src/index.ts
  packages/blog-parts-button/src/main.ts
  packages/build-util/index.js
  packages/cap-tube/src/index.ts
  packages/cap-tube/src/main.ts
  packages/game-pad/src/index.ts
  packages/game-pad/src/main.ts
  packages/heat-sync/src/index.ts
  packages/heat-sync/src/main.ts
  packages/hls-support/src/index.ts
  packages/hls-support/src/main.ts
  packages/masked-watch/src/index.ts
  packages/masked-watch/src/main.ts
  packages/mylist-filter/src/index.ts
  packages/mylist-filter/src/main.ts
  packages/mylist-pocket/src/index.ts
  packages/mylist-pocket/src/main.ts
  packages/uquery/src/index.ts
  packages/uquery/src/main.ts
  packages/zenza-watch/src/index.ts
  packages/zenza-watch/src/main.ts
  tsconfig.json
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: add padding for package name prefix of build log
  build.js
Due: eslint --fix, prettier --write --ignore-unknown

style: import `node:process` instead of global process
  build.js
  packages/advanced-settings/rollup.config.js
  packages/blog-parts-button/rollup.config.js
  packages/build-util/index.js
  packages/cap-tube/rollup.config.js
  packages/game-pad/rollup.config.js
  packages/heat-sync/rollup.config.js
  packages/hls-support/rollup.config.js
  packages/masked-watch/rollup.config.js
  packages/mylist-filter/rollup.config.js
  packages/mylist-pocket/rollup.config.js
  packages/uquery/rollup.config.js
  packages/zenza-watch/rollup.config.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: remove unneed rollup plugins
  package-lock.json
  package.json
  packages/build-util/index.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: noEmit for userscript packages
  packages/advanced-settings/rollup.config.js
  packages/advanced-settings/tsconfig.json
  packages/blog-parts-button/rollup.config.js
  packages/blog-parts-button/tsconfig.json
  packages/cap-tube/rollup.config.js
  packages/cap-tube/tsconfig.json
  packages/game-pad/rollup.config.js
  packages/game-pad/tsconfig.json
  packages/heat-sync/rollup.config.js
  packages/heat-sync/tsconfig.json
  packages/hls-support/rollup.config.js
  packages/hls-support/tsconfig.json
  packages/masked-watch/rollup.config.js
  packages/masked-watch/tsconfig.json
  packages/mylist-filter/rollup.config.js
  packages/mylist-filter/tsconfig.json
  packages/mylist-pocket/rollup.config.js
  packages/mylist-pocket/tsconfig.json
  packages/uquery/rollup.config.js
  packages/uquery/tsconfig.json
  packages/zenza-watch/rollup.config.js
  packages/zenza-watch/tsconfig.json
  tsconfig.json
Due: eslint --fix, prettier --write --ignore-unknown

chore: convert rollup config to typescript
  package-lock.json
  package.json
  packages/advanced-settings/package.json
  packages/advanced-settings/rollup.config.ts
  packages/blog-parts-button/package.json
  packages/blog-parts-button/rollup.config.ts
  packages/blog-parts-button/tsconfig.json
  packages/build-util/index.ts
  packages/build-util/package.json
  packages/build-util/tsconfig.json
  packages/cap-tube/package.json
  packages/cap-tube/rollup.config.ts
  packages/cap-tube/tsconfig.json
  packages/game-pad/package.json
  packages/game-pad/rollup.config.ts
  packages/game-pad/tsconfig.json
  packages/heat-sync/package.json
  packages/heat-sync/rollup.config.ts
  packages/heat-sync/tsconfig.json
  packages/hls-support/package.json
  packages/hls-support/rollup.config.ts
  packages/hls-support/tsconfig.json
  packages/masked-watch/package.json
  packages/masked-watch/rollup.config.ts
  packages/masked-watch/tsconfig.json
  packages/mylist-filter/package.json
  packages/mylist-filter/rollup.config.ts
  packages/mylist-filter/tsconfig.json
  packages/mylist-pocket/package.json
  packages/mylist-pocket/rollup.config.ts
  packages/mylist-pocket/tsconfig.json
  packages/uquery/package.json
  packages/uquery/rollup.config.ts
  packages/uquery/tsconfig.json
  packages/zenza-watch/package.json
  packages/zenza-watch/rollup.config.ts
  packages/zenza-watch/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: prebuild depends workspaces library
  package.json
Due: none

chore: remove unused ts-node
  .eslintrc.json
  package-lock.json
  package.json
  tsconfig.json
Due: none

chore: include `src/**/*.ts` tsc build check
  packages/advanced-settings/tsconfig.json
  packages/blog-parts-button/tsconfig.json
  packages/cap-tube/tsconfig.json
  packages/game-pad/tsconfig.json
  packages/heat-sync/tsconfig.json
  packages/hls-support/tsconfig.json
  packages/masked-watch/tsconfig.json
  packages/mylist-filter/tsconfig.json
  packages/mylist-pocket/tsconfig.json
  packages/uquery/tsconfig.json
  packages/zenza-watch/tsconfig.json
Due: none

chore: build script require colorette and node v20.11 or later
  package-lock.json
  package.json
Due: none

feat: view zen button when hover video links
  package-lock.json
  package.json
  packages/build-util/index.ts
  packages/script/zenza-watch/package.json
  packages/script/zenza-watch/rollup.config.ts
  packages/script/zenza-watch/src/components/hover-menu-button.ts
  packages/script/zenza-watch/src/components/hover-menu.ts
  packages/script/zenza-watch/src/event-observer.ts
  packages/script/zenza-watch/src/event.d.ts
  packages/script/zenza-watch/src/main.ts
  packages/script/zenza-watch/src/util.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat: add event for opening player modal
  packages/script/zenza-watch/src/event.d.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: use CSS module scripts syntax
  package-lock.json
  package.json
  packages/build-util/index.ts
  packages/script/zenza-watch/rollup.config.ts
  packages/script/zenza-watch/src/components/hover-menu-button.css
  packages/script/zenza-watch/src/components/hover-menu-button.ts
  packages/script/zenza-watch/src/components/hover-menu.css
  packages/script/zenza-watch/src/components/hover-menu.ts
  packages/script/zenza-watch/src/css-module-scripts.d.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: use attributes reflection
  packages/script/zenza-watch/src/components/hover-menu-button.ts
  packages/script/zenza-watch/src/components/hover-menu.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

feat: add PlayerDialog component
  packages/script/zenza-watch/rollup.config.ts
  packages/script/zenza-watch/src/components/hover-menu-button.ts
  packages/script/zenza-watch/src/components/hover-menu.ts
  packages/script/zenza-watch/src/components/player-dialog.css
  packages/script/zenza-watch/src/components/player-dialog.ts
  packages/script/zenza-watch/src/main.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

chore: babel helpers bundled
  package-lock.json
  package.json
  packages/build-util/index.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

fix: add close button for player dialog
  packages/script/zenza-watch/src/components/player-dialog.css
  packages/script/zenza-watch/src/components/player-dialog.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: dialog visible by open attribute instead of class
  packages/script/zenza-watch/src/components/player-dialog.css
  packages/script/zenza-watch/src/components/player-dialog.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown

refactor: declare HTMLElementTagNameMap for lit components
  packages/script/zenza-watch/src/components/hover-menu.ts
  packages/script/zenza-watch/src/components/player-dialog.ts
Due: sh -c 'npm run compile && npm run compile -- --clean', eslint --fix, prettier --write --ignore-unknown
